@import "../../vendor/filament/support/dist/index.css";
@import "../../vendor/filament/filament/resources/css/theme.css";
@import "../../vendor/filament/filament/resources/css/index.css";

@import './kanban';
@import './dialogs';
@import './loading.io';

.fi-layout>aside {
    background-color: white;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1);
}

.disabled-pointer img[data-popover-target] {
    pointer-events: auto !important;
    cursor: pointer;
}

.fi-section {
    height: 100%;
}

.fi-ta-content {
    overflow-y: hidden;
}

.fi-wi-widget {
    margin: 20px
}

.filament-header-heading {
    display: block;
}

.ticket-comment {

    .actions {
        @apply opacity-0 transition;
    }

    &:hover {
        .actions {
            @apply opacity-100;
        }
    }

}

.filament-forms-repeater-component {
    & > .relative.flex.justify-center {
        @apply justify-start;
    }
}

.social-icon {
    @apply w-6 h-6 rounded-full p-1 bg-gray-100 text-white;

    &.google {
        background-color: #ea4335;
    }

    &.facebook {
        background-color: #3b5998;
    }

    &.github {
        background-color: #000000;
    }

    &.twitter {
        background-color: #55acee;
    }
}

label:has(.sprint-checkboxes) > span {
    width: 100%;
}


